[submodule "libs/KBL_F1C100s"]
	path = libs/KBL_F1C100s
	url = https://github.com/ssDhp/KBL_F1C100s.git
[submodule "DevBoard_F1C100s_Rev2/libs/KBL_F1C100s"]
	path = DevBoard_F1C100s_Rev2/libs/KBL_F1C100s
	url = https://github.com/ssDhp/KBL_F1C100s.git
[submodule "DevBoard_F1C100s_Rev2/libs/KBL_LCD_RGB_FPC_socket"]
	path = DevBoard_F1C100s_Rev2/libs/KBL_LCD_RGB_FPC_socket
	url = https://github.com/ssDhp/KBL_LCD_RGB_FPC_socket.git
